body {
  font-family: "Open Sans", sans-serif;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  list-style-type: none;
}

.image-grid__item {
  img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
}
